*{
    margin: 0;
    padding: 0;
}
body{
    background-color:skyblue;
    text-align: center;
}
.container{
    height: 70vh;
    /* border-width: 2px;
    border-style: solid;
    border-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-style: none;
    box-shadow: 5px 10px 5px rgb(186, 182, 175) ;
    font-size: 8vmin;
    color: rgb(239, 157, 157);
    background-color: white;
}
#reset{
    padding: 10px;
    font-size: 20px;
    color: darkblue;
    background-color: cadetblue;
    border-color: white;

}